input/DOT-V1.0/标准版源代码/V1.0/OBJ export-ignore
input/*.pdf export-ignore
input/DOT-V1.0/原理图 export-ignore
input/DOT-V1.0/标准版源代码/V1.0/.vscode export-ignore
input/DOT-V1.0/标准版源代码/V1.0/keilkill.bat export-ignore
input/DOT-V1.0/标准版源代码/V1.0/USER/*.uvguix.* export-ignore
input/DOT-V1.0/标准版源代码/V1.0/USER/*.uvoptx export-ignore
